.escudos__escudos {
    gap: 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    div {
        padding: 1rem;
        background-color: $colorBlack;
        border: 5px solid $colorRed;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 292px;
        height: 340px;
    }

    img {
        width: 250px;
        height: 250px;
    }
}

/* FONTS */

.escudos__title {
    @extend .fontTemplate;
    font-size: 40px;
    font-weight: 400;
    padding-bottom: 2rem;
    text-align: center;
}

.escudos__escudos {
    p {
        @extend .fontTemplate;
        font-size: 30px;
        font-weight: 400;
    }

}

/* MEDIAQUERIS */
@media screen and (max-width:720px) {
    .escudos__escudos {
        gap: 10px;
        div {
            border: 3px solid $colorRed;
            width: 160px;
            height: 210px;
        }
    
        img {
            width: 150px;
            height: 150px;
        }
    }
    
    /* FONTS */
    
    .escudos__title {
        font-size: 23px;
        padding: 5px;
    }
    
    .escudos__escudos {
        p {
            font-size: 20px;
        }
    }
}