.estadio__background {
    background-color: $colorBlack;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.estadio__imgestadio {
        width: 100%;
        height: auto;
        img {
            width: 100%;
            height: 100%;
        }
}

.estadio__description {
    margin: 2rem;
    max-width: 800px;
    img {
        width: 100%;
        height: auto;
        padding: 20px 0;
    }
}

@media screen and (max-width:720px) {
    
    .estadio__description {
        margin: 20px
    }

    .escudo__title {
        @extend .fontTemplate;
        font-size: 20px;
        padding-top: 20px
    }
    
    .estadio__text {
        @extend .fontTemplate;
        font-size: 16px;    
        padding: 20px 0 20px 0;
        line-height: 20px;
    }
}