.index__button {
    @extend .fontTemplate;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

/* ----------INDEX---------- */

.index__index--title { 
    @extend .fontTemplate;
    font-size: 54px;
    font-weight: 700;
}

.index__title{
    @extend .fontTemplate;
    font-size: 40px;
    font-weight: 400;
    text-align: center
}
.index__text{
    @extend .fontTemplate;
    font-size: 25px;    
    font-weight: 300;
    text-align: justify;
    padding: 30px 0;
}

.index__subtitle {
    @extend .fontTemplate;
    font-size: 27px;    
    font-weight: 400;
}

.index__subsubtitle {
    @extend .fontTemplate;
    font-size: 20px;    
    font-weight: 400;
}

/* ----------ESTADIO---------- */
.escudo__title {
    @extend .fontTemplate;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    padding-top: 40px
}

.estadio__text {
    @extend .fontTemplate;
    font-size: 25px;    
    font-weight: 300;
    padding: 30px 0 30px 0;
    text-align: left;
    line-height: 30px;
}