.index__button {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 18px;
    font-weight: 300;
}

/* INDEX */
.index__title{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 400;
}
.index__text{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 25px;    
    font-weight: 300;
    text-align: justify;
    padding: 30px 0;
}

