/* -----NAVBAR----- */
.navbar-toggler:focus {
    box-shadow: none;
}

nav.navbar {
    background-color: $colorRed;

    .nav-link {
        @extend .fontTemplate;
        font-size:18px;
        text-transform: uppercase;

        &:hover {
        color: #a8a8a8;
    }
  }
}

#toggler, .navbar label {
    display: none;
}

.fa-bars:before {
    color: #ffffff;
    font-size: 27px;
}

/* -----FOOTER----- */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorRed;
    padding: 7px;

    span {
        @extend .fontTemplate;
        font-weight: 300;
        font-size: 15px;
    }
}

@media screen and (max-width:720px) {

    nav {
        img {
            width: 120px;
            height: auto;
        }
        .fa-bars:before {
            font-size: 23px;
        }
    }
    nav.navbar {
        .nav-link {
            font-size:15px;
        }
      }

    footer {
        img {
            width: 100px;
            height: auto;
        }
        span {
            font-size: 9px;
        }
    }
}