/* INDEX */
.index__index {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0 50px 0;

    &--escudo {
        width: 150px;
        height: 150px;
        display: flex;
        align-items: center;
    }
    &--title {
        text-align: center;
    }
}
/* CONTAINER */
.index__container {
    padding: 20px;
    margin-bottom: 70px;
    background-color: $colorBlack;
    border: 5px solid $colorRed;
    display: flex;
    flex-direction: row;
}

/* ESTADIO */
.index__estadio {
    &--info {
        width: 75%;
        height: auto;
        padding: 0 12px;
        @include containerContainer (column);
    }
    &--img {
        width: 25%;
        height: auto;
        padding: 0 12px;
        @include containerContainer (row);
    }
}
/* ESCUDOS */
.index__escudos {
    &--info {
        width: 70%;
        height: auto;
        padding: 0 12px;
        @include containerContainer (column);
    }
    &--img {
        width: 30%;
        height: auto;
        padding: 0 12px;
        @include containerContainer (row);

        img {
            width: 150px;
            height: auto;
        }
    }
}
/* SOCIOS */
.index__socios {
    &--info {
        width: 70%;
        height: auto;
        padding: 0 12px;
        display: flex;
        @include containerContainer (column);
    }
    &--img {
        width: 30%;
        height: auto;
        padding: 0 12px;
        @include containerContainer (row);
        align-content: center;
        flex-wrap: wrap;

        img {
            width: 150px;
            height: auto;
        }
    }
}
/* CAMISETAS */
.index__camisetas {
    @include containerContainer (column);
    width: 100%;
    height: auto;
    &--info {
        @include containerContainer (column);

        h3 {
            padding-top: 10px;
        }
    }
    &--img {
        @include containerContainer (row);
        img {
            width: 100%;
            height: auto;
        }
    }
}
/* UBICACION */
.index__ubicacion {
    @include containerContainer (column);
    width: 70%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 70px;;
    text-align: center;

    &--map {
        width: 100%;
        height: 400px;
        iframe {
            padding: 20px 0;
            width: 100%;
            height: 100%;
        }
    }
}

.index__contactoredes {
    @include containerContainer (row);
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #ffffff;
}

.index__contacto {
    @include containerContainer (column);
    text-align: center;
    margin-bottom: 37px;
   
    h3 {
        padding: 10px 0;
    }

    li {
        padding: 10px 0;

        .fa-envelope, .fa-phone {
            padding-right: 10px;
        }
    }
}

.index__redes {
    @include containerContainer (column);
    text-align: justify;
    margin-bottom: 37px;
    
    li {
        padding: 8px 0;

        a {
            color: #ffffff;
        }

        .fa-twitter, .fa-youtube {
            padding-right: 10px;
        }

        .fa-instagram, .fa-facebook-square, .fa-linkedin {
            padding-right: 14px;
        }
    }
}

/* MEDIAQUERIS */
@media screen and (max-width:720px) {
/* index */
    .index__index {
        margin: 10px;
    }
/* button */
    .css-button-3d--red {
        min-width: 75px;
        height: 25px;
        margin-bottom: 3px;
    }
/* container */
    .index__container {
        border: 3px solid $colorRed;
        width: 100%;
        height: auto;
        padding: 10px;
        margin-bottom: 30px;
    }
/* estadio */
    .index__estadio {
        &--info {
        width: 100%;
        height: auto;
        padding: 0;
        }
        &--img {
            display: none
        }
    }
/* ESCUDOS */
    .index__escudos {
        &--info {
            width: 100%;
            height: auto;
            padding: 0;
        }
        &--img {
            display: none;
        }
    }

/* SOCIOS */
.index__socios {
    &--info {
        width: 100%;
        height: auto;
        padding: 0;
    }
    &--img {
        display: none;
    }
}

/* fonts */
    .index__index--title {
        font-size: 20px;
    }

    .index__index--escudo {
        width: 60px;
        height: auto;
    }

    .index__title {
        font-size: 20px;
    }

    .index__text {
        font-size: 16px;
        padding: 10px;
    }

    .index__subtitle {
        font-size: 16px;
    }
    
    .index__subsubtitle {
        font-size: 15px;
    }

    .index__button {
        font-size: 16px;
    }

    .index__camisetas h3 {
        padding-top: 3px;
    }

    .index__ubicacion {
        &--map {
            width: 90%;
            height: 300px;
            iframe {
                padding: 5px 0;
            }
        }
    }

    .index__contacto {
        li {
            padding: 6px;
        }
    }

    .index__redes {
        li {
            padding: 3px 0;
            .fa-twitter, .fa-youtube {
                padding-right: 5px;
            }
    
            .fa-instagram, .fa-facebook-square, .fa-linkedin {
                padding-right: 8px;
            }
        }
    }
}
